<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rapidrive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    <!--
      had before 3.4.38 
      Switch.System.Windows.Controls.Grid.StarDefinitionsCanExceedAvailableSpace=true;
      suggested here https://weblog.west-wind.com/posts/2019/Feb/14/WPF-Hanging-in-Infinite-Rendering-Loop  
      see also OneNote that it is not fixed in 4.8;       the other two are needed because of Reactor is resetting these
      but removed in 3.4.38 when got crashing with FastExplorer installed - see onenote StarDefinitionsCanExceedAvailableSpace
      
      had also ;Switch.MS.Internal.DoNotApplyLayoutRoundingToMarginsAndBorderThickness=true
      
    
      system.memory has to be 4.0.1.2 even though newer
      https://stackoverflow.com/questions/55509638/could-not-load-file-or-assembly-system-memory-version-4-0-1-in-visual-studio
      
        -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.5.0" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Validation" publicKeyToken="2fc06f0d701809a7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>-->
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Rapidrive.Properties.Settings>
      <setting name="ShowSystemFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ItemFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="CleanFilenames" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskmasterMode" serializeAs="String">
        <value>ask</value>
      </setting>
      <setting name="AnimationDuration" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="LicenseAccepted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumberOfCrashes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InterceptPaste" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileAgeType" serializeAs="String">
        <value>var</value>
      </setting>
      <setting name="FileAgeSaturation" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="FileAgeLuma" serializeAs="String">
        <value>190</value>
      </setting>
      <setting name="EMail" serializeAs="String">
        <value>your@email.com</value>
      </setting>
      <setting name="ShowHiddenFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumberOfRuns" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ThemeName" serializeAs="String">
        <value>Dark</value>
      </setting>
      <setting name="FirstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFileExtension" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseGoogleMaps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShellUseNewThread" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TipRMB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TipWindowSelect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PowershellArguments" serializeAs="String">
        <value>-noexit -Command "Set-Location -LiteralPath '$CurrentPath';cls"</value>
      </setting>
      <setting name="ShowFolderSize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FPClearItemOnDone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HandleAllArchives" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BoldifyNumbers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeletePrompt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowFullPath" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MetaTextExtensions" serializeAs="String">
        <value>txt,text,md,ini,xml,json,html,htm,config,conf,cfg,srt,sub,ascii,asc,nfo,inf,readme,me,!!!,1st,url</value>
      </setting>
      <setting name="ShowNotificationInTitleBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsePixelScrolling" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsPro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProgramVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="HasVoted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSubfoldersCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomThemePath" serializeAs="String">
        <value />
      </setting>
      <setting name="HideTempFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeepFolderDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SwitchDesktopOnOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAcrylic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FolderColumnsMode" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FoldersSortByNameAlways" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskbarDisplayEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TipPreview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMebibytes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColumnClickToOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FavoritesBackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveLinkOfDroppedItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThumbnailBlacklist" serializeAs="String">
        <value>2do,2dx</value>
      </setting>
      <setting name="ShowFolderBackgroundImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseQuickLook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsePdfHandler" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RadarLogDeletedItems" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectFirstItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActivationKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ActivationKeyStore" serializeAs="String">
        <value />
      </setting>
      <setting name="UseTaskmaster" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreviewAutoplayMedia" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColumnsHeight" serializeAs="String">
        <value>230</value>
      </setting>
      <setting name="ColumnsMainPanelWidth" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ColumnsMainPanelWidthVertical" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="PreviewHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PreviewWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ColumnsPanelWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ColumnsPanelWidthSmall" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="ColumnsPanelWidthMinimum" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ColumnsPanelExpandDelay" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="ColumnsPanelExpandDuration" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="BrowserCollapseBreakpointWidth" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="BrowserCollapseBreakpointHeight" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>#FF0078D7</value>
      </setting>
      <setting name="ColumnsPanelExpand" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColumnsPanelExpandMaxWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ColumnsAlignment" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="ColumnsCreateNewWithoutAnimating" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSafetyDialogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListItemPadding" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ColumnsAlignmentNavPane" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="EnableAnimations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowPlacementPreview" serializeAs="String">
        <value />
      </setting>
      <setting name="SidebarExpandedWidth" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="ColumnsPanelExpandHorizontal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultPath" serializeAs="String">
        <value>%USERPROFILE%</value>
      </setting>
      <setting name="NewTabClonesCurrent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TipSystray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFolderSizeOnNetwork" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RestoreSession" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MMBOpenNewTab" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultBrowserLayout" serializeAs="String">
        <value>Horizontal</value>
      </setting>
      <setting name="CreateTabAfterCurrent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowPlacementSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowPathColumnsInFilesProcessor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowDrivesInSidebar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideExtensionIfExtensionColumnVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SingleClickOpensFolder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SingleClickOpensFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FolderIconsTheme" serializeAs="String">
        <value />
      </setting>
      <setting name="FileIconsTheme" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFolderIcon" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowMetadataOnNetwork" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseFileAgeColor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TipPreviewDisabledWhenFiltering" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RenameWithSecondClick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultSortFilesBy" serializeAs="String">
        <value>FileName</value>
      </setting>
      <setting name="DefaultSortDirection" serializeAs="String">
        <value>Ascending</value>
      </setting>
      <setting name="DefaultSortFoldersOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExtractAllFolderIcons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TipBrowserPaneButtons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value />
      </setting>
      <setting name="UseVisorHotkey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SwitchToWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowExtensionWhenRenaming" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowExtensionRenameWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CommandShell" serializeAs="String">
        <value>CMD</value>
      </setting>
      <setting name="TerminalArguments" serializeAs="String">
        <value>-d $CurrentPath</value>
      </setting>
      <setting name="ShowWatcherErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DragAlwaysMoves" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AskedToPurchaseLicense" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloseToSystray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AskToCloseToSystray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SessionExitCode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DateFormat" serializeAs="String">
        <value>yyyy-MM-dd</value>
      </setting>
      <setting name="TimeFormat" serializeAs="String">
        <value>HH:mm</value>
      </setting>
      <setting name="AutoSwitchToThumbView" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExcludedWatcherKeywords" serializeAs="String">
        <value>\AppData\,\ProgramData\,\$RECYCLE.BIN,\Prefetch\,\System Volume Information\,.tmp</value>
      </setting>
      <setting name="HasStats3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenameClickingOutside" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowNotificationOfTextOnClipboard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseHardwareRendering" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisableStylusAndTouchSupport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnablePointerSupport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkipReparsePoints" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsePerPaneWatchers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AB" serializeAs="String">
        <value>?</value>
      </setting>
      <setting name="TIP_ChangingThumbSize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OneDrivePath" serializeAs="String">
        <value />
      </setting>
      <setting name="FolderRefreshTimer" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="UseAlternativeWayToRestartAsAdmin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseWinEHotkey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCrashDialog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseHighResolutionScrolling" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShellContextMenuVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MenuItemPadding" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExcludedShellContextMenuItems" serializeAs="String">
        <value>windows.share,windows.modernshare,cast to device,pintostartscreen,pintohome,copyaspath,opencontaining</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="UseDoubleClickToOpenParent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomComputerName" serializeAs="String">
        <value>This PC</value>
      </setting>
      <setting name="UseCustomComputerName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFileStatusOnNetwork" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileOperationHandler" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="ShowWarningOnExtensionChange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileViewDefaultName" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="FileViewThumbnailName" serializeAs="String">
        <value>Thumbnail Grid</value>
      </setting>
      <setting name="ShellContextMenuSyncCascadeMenu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScrollbarType" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="FileSizeFormat" serializeAs="String">
        <value>Var</value>
      </setting>
      <setting name="TempShowNameOnlyOnRightEdge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowFileAttributes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckIfFolderExistsBeforeOpeningAsync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StretchAllImagesInPreview" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreviewSmoothInterpolate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MetaMaxLineCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="UseNewPdfViewer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewFitPdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowFilesViewToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TipWSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SinglePassListing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowHistoryInSidebar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HistoryMaxItems" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ClearHistoryOnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenFlyoutOnDrag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseNewVirtualDesktopManager" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowRenameSuggestions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SwitchToNewTab" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenArgsPathInNewTab" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogDetailedMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseLayoutRounding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSetDataFileDrop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColorizeLargeFileSize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InheritFilesView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastRunPath" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenConnectorOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowWindowNameInTaskbar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ItemBackgroundColorSource" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="RenameOnLostFocus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowPlacementFileAutomator" serializeAs="String">
        <value />
      </setting>
      <setting name="DrivePaneTitleType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseOneCommanderUpdater" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FixFpu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastOpenedWindow" serializeAs="String">
        <value />
      </setting>
      <setting name="UseSecondClickToRenameTimeout" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFileAgeIndicator" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowPlacementSearch" serializeAs="String">
        <value />
      </setting>
      <setting name="FontStretch" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="FileNameMaxLines" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UsePreviewWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NamedLicense" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowScriptsButton" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideLastWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomShellArguments" serializeAs="String">
        <value>"C:\Program Files\PowerShell\7\pwsh.exe" -NoProfile</value>
      </setting>
      <setting name="UseSystemTheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThemeLight" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="ThemeDark" serializeAs="String">
        <value>Dark</value>
      </setting>
      <setting name="OpenRecycleBinInExplorer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSFP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenFilesThroughExplorer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileNameTrimming" serializeAs="String">
        <value>Middle</value>
      </setting>
      <setting name="VotedForIcon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FLBTitleVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="FLBSummaryVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="FLBNavButtonsVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="FLBSortButtonsVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="UseSingleNewItemButton" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ButtonsToolbarVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="DrawFilenameUnderThumb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartDragWithoutActivatingWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowScriptRunConfirmationDialog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoTipLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUpdateCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="TipMetadataSort" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAcrylicMenu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowOverlayOnShellContextMenu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailNamingFormat" serializeAs="String">
        <value>$SentOn - $SenderName - $Subject</value>
      </setting>
      <setting name="SentOnDateFormat" serializeAs="String">
        <value>yyyy-MM-dd HH-mm</value>
      </setting>
      <setting name="SetPathVariable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseCustomShortcuts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreviewProgram" serializeAs="String">
        <value>OC</value>
      </setting>
      <setting name="DisableTaskbarGrouping" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GetCloudThumbs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewDownloadsCloudFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNetworksInSidebar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSmoothScrolling" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FocusVisualStyle" serializeAs="String">
        <value>FocusVisualDoubleLine</value>
      </setting>
      <setting name="EmailNamingMaxLength" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="LimitFileNameLength" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAlternativeThumbExtraction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveAllDataContainedInDrop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserPerWindowIcons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectFileAfterShellOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTemporaryFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DiscoverTipColumns" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="DiscoverTipLayouts" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="DiscoverTipPathEdit" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="CheckArchiveBeforeExtracting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileDetailsHeight" serializeAs="String">
        <value>124</value>
      </setting>
      <setting name="PasteClipboardTextAsFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TreatDotFilesAsHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DragCancellationThresholdMs" serializeAs="String">
        <value>190</value>
      </setting>
      <setting name="UseLocalThumbsDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TempThumbsCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MediaJumpToPercentages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MediaJumpPercent" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="MediaJumpSecondsBack" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MediaJumpSecondsForward" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CustomIconPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Guid" serializeAs="String">
        <value />
      </setting>
      <setting name="TipUnityShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowBackgroundImageOpacity" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="WindowBackgroundImageEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FolderThumbStyle" serializeAs="String">
        <value>Single</value>
      </setting>
      <setting name="UpdateToVersionAhead" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotkeyChar" serializeAs="String">
        <value>E</value>
      </setting>
      <setting name="HotkeyModifier" serializeAs="String">
        <value>Alt</value>
      </setting>
      <setting name="ReplaceTitleBarButtons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FSWDelay" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AllowLeadingSpaceInName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HiddenFilesExtList" serializeAs="String">
        <value>tmp,temp</value>
      </setting>
      <setting name="HiddenFilesPrefixList" serializeAs="String">
        <value>~$</value>
      </setting>
      <setting name="HiddenFilesList" serializeAs="String">
        <value>Thumbs.db,DumpStack.log,pagefile.sys,swapfile.sys,System Volume Information,$Recycle.Bin,desktop.ini</value>
      </setting>
      <setting name="AllowThumbsLargerThan256" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VKeyboardAllow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="QWinLastPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowKeepFoldersOnTopToggle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QWCollapseOnLostFocus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseApplicationInsights" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSystemTrayIcon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SavedDestinationsCount" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="FixLongPathOp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastSessionStartDateTime" serializeAs="String">
        <value />
      </setting>
      <setting name="NotificationLevel" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="NotificationDuration" serializeAs="String">
        <value>6000</value>
      </setting>
      <setting name="SearchHiddenBackgroundImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LiveSorting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VideoDownloadCMD" serializeAs="String">
        <value>yt-dlp.exe --windows-filenames --trim-filenames 48 --write-description --write-subs --write-auto-subs --sub-format srt -S res,ext:mp4:m4a --recode mp4 -P $CurrentDir $URL</value>
      </setting>
      <setting name="ShowEjectOnSubstDrives" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WatchClipboardForPasteableText" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HotkeySwitchesToWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AskedToUpgradeLicense" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AudioDownloadCMD" serializeAs="String">
        <value>yt-dlp.exe -f m4a --windows-filenames --trim-filenames 48 -P $CurrentDir $URL</value>
      </setting>
      <setting name="UseExplorerDialogForRename" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExtensionsExecutable" serializeAs="String">
        <value>bat,ps1,py</value>
      </setting>
      <setting name="ExtensionsVideo" serializeAs="String">
        <value>mkv,gif,avi,mp4,mov,hdmov,mk3d,webm,m4v,mp4v,mpv4,3gp,3g2,3gp2,3gpp,wmv,wmv2,wmv3,wtv,wmva,wvc1,h264,h263,h265,divx,mpeg,mpg,m1v,m2v,mp2v,mpv2,vob,evo,asf,ogm,ogv,hevc,m2ts,m2t,mjpeg,mts,mxf,rm</value>
      </setting>
      <setting name="ExtensionsPhoto" serializeAs="String">
        <value>jpg,jpeg,cr2,crw,dng,jxl</value>
      </setting>
      <setting name="ExtensionsAudio" serializeAs="String">
        <value>mp3,wav,aiff,fac,aac,m4a,ape,mka,mpc,opus,oga,tak,wv</value>
      </setting>
      <setting name="ExtensionsImage" serializeAs="String">
        <value>aai,art,arw,avs,bpg,bmp,bmp2,bmp3,brf,cals,cgm,cin,cmyk,cmyka,cur,cut,dcm,dcr,dcx,dds,dib,djvu,dot,dpx,emf,epdf,epi,eps,eps2,eps3,epsf,epsi,ept,exr,fax,fig,fits,fpx,gplt,gray,hdr,heic,hpgl,hrz,ico,isobrl,isbrl6,jbig,jng,jp2,jpt,j2c,j2k,jxr,mat,mono,mng,m2v,mrw,mtv,nef,orf,otb,p7,palm,pam,pbm,pcd,pcds,pcl,pcx,pef,pes,pfa,pfb,pfm,pgm,picon,pict,pix,png,png8,png00,png24,png32,png48,png64,pnm,ppm,psb,psd,ptif,pwb,rad,raf,rgb,rgba,rgf,rla,rle,sct,sfw,sgi,sid,sun,svg,tga,tif,tiff,tim,uil,viff,vicar,vbmp,wdp,webp,wpg,x,xbm,xcf,xpm,xwd,x3f,ycbcr,ycbcra,yuv,jfif,avif</value>
      </setting>
      <setting name="ExtensionsDocument" serializeAs="String">
        <value>doc,docm,docx,dotm,dotx,xls,xlsx,xlsm,xlsb,xlt,xltm,xppt,pptx,pot,potm,pps,ppsm,ppsx,potx,ppt,pptm,pptx,ott,odt,ods,odp,ott,rtf</value>
      </setting>
      <setting name="ExtensionsArchive" serializeAs="String">
        <value>zip,7z,bzip2,gzip,tar,wim,rar,ar,arj,cab,chm,cpio,cramfs,dmg,ext,fat,gpt,hfs,ihex,img,iso,lzh,lzma,mbr,nsis,ntfs,qcow2,rpm,squashfs,udf,uefi,vdi,vhd,vmdk,wim,xar,z</value>
      </setting>
      <setting name="MouseDebounceTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="OfficeFilesWorkaround" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="AltRenameMethod" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TaskmasterTermsAccepted" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TextRenderMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CacheIcons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEdu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowSystemCachedThumbs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemoveDuplicatesFromTabsHistory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThumbBlacklistLoose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewTextMaxLength" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ShowTaskmasterButton" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultWinType" serializeAs="String">
        <value>Single</value>
      </setting>
      <setting name="CopyPathFormat" serializeAs="String">
        <value>Backslash</value>
      </setting>
      <setting name="PowerShell7Arguments" serializeAs="String">
        <value>-noexit -Command "Set-Location -LiteralPath '$CurrentPath';cls"</value>
      </setting>
      <setting name="ScriptsV2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddShortcutText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowMainToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HasStats4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowManagerHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PasteFromBackgroundMenu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileDetailsWidth" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="UseNewPathEdit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSystemAccentColor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeepTabAlias" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PowerToysSvgWorkaround" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CollapsedFolderNameAlignment" serializeAs="String">
        <value>Top</value>
      </setting>
      <setting name="AutoAddPhonesOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColumnExpandOnFocus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMountedSharePath" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseOldFileOpDialogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableExtractorAsIUnderstandRisks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhotosOpenWorkaround" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SevenzipNotify" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScriptsListed" serializeAs="String">
        <value>False</value>
      </setting>
    </Rapidrive.Properties.Settings>
  </userSettings>
</configuration>